*~
*.o
*.gcov
*.gcda
*.gcno
*.html
*.tar.gz
*.tar.xz
.deps/
.lint/
*.svg
autom4te.cache/
contrib/archlinux/sipvpn/
Makefile
src/Makefile
config.h
config.log
config.status
src/sipvpn
stamp-h1

*.pro
*.pro.user
